<!DOCTYPE html>
<html>

<head>
  <title>Welcome to MaxemusAPI</title>
</head>

<body>
  <h1>Dear, {distributorName}</h1>
  <p>Congratulations! We are thrilled to inform you that your distributor account registration has been successfully
    completed. You are now an approved distributor with MaxemusAPI.</p>
  <p>Below are the login details for your distributor account:</p>
  <ul>
    <li><strong>Username:</strong> {email}</li>
    <li><strong>Password:</strong> {password}</li>
    <li><strong>Link:</strong> {link}</li>
  </ul>
  <p>Please make sure to keep this information secure and not share it with anyone else. We recommend changing your
    password upon logging in for the first time to ensure the security of your account.</p>
  <p>With your new distributor account, you can now access our platform and take advantage of the various features and
    benefits we offer to our valued distributors. You will have the opportunity to showcase your products or services, manage
    orders, and collaborate with our customers effectively.</p>
  <p>We are confident that your products/services will greatly contribute to our platform, and we look foReward to a
    successful partnership.</p>
  <p>Thank you for choosing to join our network of distributors. We appreciate your commitment and dedication to providing
    exceptional products/services.</p>
  <p>Best regards,<br>Maxemus</p>
</body>

</html>